@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #081325;
    background: linear-gradient(35deg, #081325 0%, rgba(9,9,121,1) 65%, #009fbf 100%);
    background-size: 150% 150%;
    animation: gradient 10s ease infinite;
    color: #8899b5;
    min-height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.tournament:hover {
    box-shadow: 0 0 2rem rgba(129, 226, 252, 0.8)
}
.tournament:hover .banner{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
